venv/
.DS_Store
.idea/
__pycache__/
**/__pycache__/

# My Personal Files and Directories
fer/ignore/model.py
# The csv is too large to include in the repository.
data/dataset/fer2013.csv
**test*.py
!testmodel.py
fer/
modded/
imageruntest/
data/dataset/*
data/dnnfile/*
data/model/*
data/savedmodels/*
