venv/
.DS_Store
.idea/
__pycache__/
**/__pycache__/

# My Personal Files and Directories
*.hdf5
*.caffemodel
data/dataset/fer2013.csv
**test*.*
!testmodel.py
!testckplus.py
fer/
test_imgs/
modded/
lfw/
imageruntest/
data/dataset/*.*
data/dataset/fer2013/*
data/dataset/ck+/*
data/dnnfile/*
data/model/*
data/savedmodels/*
pose-detection/

# Temporary
fec.py
checkpoints/checka.py
custom-xception.py